<%- include("partials/header.ejs") %>
    <!-- Banner -->
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" bis_skin_checked="1">
        <div class="carousel-indicators" bis_skin_checked="1">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"
                aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                class=""></button>
        </div>
        <div class="carousel-inner" bis_skin_checked="1">
            <div class="carousel-item active" bis_skin_checked="1">
                <img class="d-block w-100" src="images/img1.png" alt="First slide" style=" height: 40em;">
            </div>
            <div class="carousel-item" bis_skin_checked="1">
                <img class="d-block w-100" src="images/img2.png" alt="Second slide" style=" height: 40em;">
            </div>
            <div class="carousel-item" bis_skin_checked="1">
                <img class="d-block w-100 " src="images/img3.png" alt="Third slide" style=" height: 40em;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Features -->
    <div class="container px-4 py-5" id="hanging-icons" bis_skin_checked="1">
        <h2 class="pb-2 border-bottom ">Features</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" bis_skin_checked="1">
            <div class="col d-flex align-items-start" bis_skin_checked="1">
                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
                    bis_skin_checked="1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                        class="bi bi-pencil-square bg-white" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                    </svg>
                </div>
                <div bis_skin_checked="1">
                    <h3 class="fs-2 text-body-emphasis">Easy to write blogs</h3>
                    <p>You can write your blog with a few steps and with our tools for helps. </p>
                    <a href="#" class="btn btn-primary">
                        Discover
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start" bis_skin_checked="1">
                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
                    bis_skin_checked="1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                        class="bi bi-file-earmark-post-fill bg-white" viewBox="0 0 16 16">
                        <path
                            d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-5-.5H7a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1 0-1m0 3h7a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5" />
                    </svg>
                </div>
                <div bis_skin_checked="1">
                    <h3 class="fs-2 text-body-emphasis">Easy to post blogs</h3>
                    <p>You can post your blog with a few steps within a few minutes.</p>
                    <a href="#" class="btn btn-primary">
                        Discover </a>
                </div>
            </div>
            <div class="col d-flex align-items-start" bis_skin_checked="1">
                <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
                    bis_skin_checked="1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                        class="bi bi-share-fill bg-white" viewBox="0 0 16 16">
                        <path
                            d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5" />
                    </svg>
                </div>
                <div bis_skin_checked="1">
                    <h3 class="fs-2 text-body-emphasis">Easy to share</h3>
                    <p>You can share your blogs with other people around the world.</p>
                    <a href="#" class="btn btn-primary">
                        Discover </a>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>